.aws
.azure
.bash_history
.cache
.config
.docker
.dotfiles/
.gitconfig
.gnupg
.landscape
.lemminx
.local
.motd_shown
.mozilla
.npm 
.nvm
.pdepend
.pam_environment
.pki
.ssh/
.sudo_as_admin_successful
.vscode
.vscode-server
Downloads
go
Projects
snap
src
bin