.anydesk
.apport-ignore.xml
.aws
.azure
.bash_history
.cache
.cargo
.config
.docker
.dotfile*
.dotfiles/
.gitconfig
.gnupg
.landscape
.lemminx
.local
.motd_shown
.mozilla
.mume
.npm 
.nvm
.oh-my-zsh
.pam_environment
.pdepend
.pki
.python_history
.quokka/
.rnd
.rustup
.sqlite_history
.ssh/
.sudo_as_admin_successful
.var/
.viminfo
.vscode
.vscode-server
.wget-hsts
.zcompdump
.zcompdump-*
.zsh_history
.zshrc.pre-oh-my-zsh
Applications
Bilder
bin
Downloads
Dropbox/
go
Projects
Schreibtisch/
snap
src
vscode:
Vorlagen
.zhistory
.lesshst