
.anydesk
.apport-ignore.xml
.aws
.azure
.bash_aliases
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.cargo
.config
.dir_colors
.docker
.dotfile*
.dotfiles/
.dotnet
.gnupg
.landscape
.lemminx
.lesshst
.local
.mono
.motd_shown
.mozilla
.mume
.npm 
.nvm
.oh-my-zsh
.os_specifics
.pam_environment
.pdepend
.pki
.profile
.python_history
.quokka/
.recently-used
.rnd
.rustup
.shell.pre-oh-my-zsh
.sqlite_history
.ssh/
.sudo_as_admin_successful
.themes
.tldr
.var/
.vim
.viminfo
.vscode*
.wget-hsts
.Xclients
.xinitrc
.z
.zcompdump
.zcompdump-*
.zhistory
.zsh_history
.zshrc.pre-oh-my-zsh
*.local
Applications
Bilder
bin
Downloads
Dropbox/
go
Projects
Schreibtisch/
snap
src
tmpdotfiles
Vorlagen
vscode: